<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CC0</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAAAA==</data>
	</dict>
	<key>CC1</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAAAQ==</data>
	</dict>
	<key>CC2</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAAEA==</data>
	</dict>
	<key>CC3</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAAEQ==</data>
	</dict>
	<key>CC4</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAABAA==</data>
	</dict>
	<key>CC5</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAABAQ==</data>
	</dict>
	<key>CC6</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAABEA==</data>
	</dict>
	<key>CC7</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAABEQ==</data>
	</dict>
	<key>CC8</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAQAA==</data>
	</dict>
	<key>CC9</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAQAQ==</data>
	</dict>
	<key>CC10</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAQEA==</data>
	</dict>
	<key>CC11</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAQEQ==</data>
	</dict>
	<key>CC12</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAARAA==</data>
	</dict>
	<key>CC13</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAARAQ==</data>
	</dict>
	<key>CC14</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAREA==</data>
	</dict>
	<key>CC15</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAAREQ==</data>
	</dict>
	<key>CC16</key>
	<dict>
		<key>Registered</key>
		<false/>
		<key>UI ID</key>
		<integer>0</integer>
		<key>BYTE Value</key>
		<data>AAEAAA==</data>
	</dict>
</dict>
</plist>
